
.weatherLocation{
    margin: 30px;
    width: 400px;
    padding: 15px;
    font-family: 'Roboto','sans-serif';
    box-shadow: 10px 10px 42px -12px rgba(0,0,0,0.75);
}
.locationContent{
    width: 100%;
    height: 25px;
    text-align: left;
    padding-left: 10px;
    color: #493c3c;
    padding-bottom: 10px;
}